@charset "UTF-8";
/* 
 * @author: Annun;
 * @Date: 2019-09-11;
 * @Description: 通用电纸书 CSS 样式，微调样式请新建样式文件储存
 * @Last Modified By: Annun;
 * @Last Modified Time: 2019-10-28;
 * 
 */
/* 
 * @author: Annun;
 * @Date: 2019-11-04;
 * @Description: 字体处理
 * @Last Modified By: Annun;
 * @Last Modified Time: 2019-10-28;
 * @
 * 
 */
@font-face {
  font-family: Code;
  src: url("../Fonts/SourceCodePro.ttf");
}

@font-face {
  font-family: KindleSong;
  src: url("../Fonts/STSongMedium.ttf");
}

@font-face {
  font-family: KindleHeiti;
  src: url("../Fonts/STHeitiMedium.ttf");
}

@font-face {
  font-family: KindleKai;
  src: url("../Fonts/STKaiMedium.ttf");
}

@font-face {
  font-family: KindleYuan;
  src: url("../Fonts/STYuanMedium.ttf");
}

body {
  font-size: medium;
  font-family: STSong, KindleSong, serif;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  background-color: transparent !important;
}

/* 标题一 篇*/
h1 {
  font-size: 1.5em;
  margin: 0.1em 0;
  text-indent: 0em;
  text-align: right;
  line-height: 1.5em;
}

/* 标题二 章*/
h2 {
  font-size: 1.4em;
  margin: 0.8em 0;
  color: #0033CC;
  text-indent: 0em;
}

/* 标题三 节*/
h3 {
  font-size: 1.3em;
  margin: 0.6em 0;
  text-indent: 0em;
}

/* 标题四*/
h4 {
  font-size: 1.2em;
  margin: 0.4em 0;
  font-weight: 800;
}

/* 标题五*/
h5 {
  font-size: 1.1em;
  margin: 0.3em 0;
}

/* 标题六 */
h6 {
  font-size: 1em;
  margin: 0.2em 0;
}

p {
  line-height: 1.5;
  text-align: left;
  text-indent: 2em;
  margin: 4px 0;
}

figure {
  width: 100%;
  margin: 0;
}

figure img {
  display: block;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 4px;
}

figure figcaption {
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 90%;
  margin-left: 5%;
}

table.nowrap {
  white-space: nowrap !important;
  font-size: small;
}

table caption {
  padding: 0.5em 0;
}

table td,
table th {
  border: 1px solid #cccccc;
  line-height: 1.5;
  padding: 0 8px;
}

blockquote {
  border-left: 4px solid #3d7e9a;
  margin: 0;
  padding: 8px;
  padding-left: 12px;
  margin: 10px 0;
  background-color: #eee;
  color: #333;
}

blockquote p {
  padding: 0;
  margin: 0;
  text-indent: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 4px;
  font-family: Code;
  line-height: 1.5;
  color: #333333;
}

pre code {
  padding: 0;
  font-weight: normal;
  color: #333333;
  background-color: transparent !important;
}

code {
  font-family: Code;
  padding: 0 4px;
  font-weight: 300;
  color: #ff5077;
  background-color: #fff5f5;
  border-radius: 2px;
  margin: 0 4px;
}

ul {
  padding-left: 2em;
}

ul li {
  line-height: 1.75;
}

ul li p {
  text-indent: 0;
}

ol {
  padding-left: 2em;
}

ol li {
  line-height: 1.5;
}

ol li p {
  text-indent: 0;
}

dl dt {
  margin-bottom: 8px;
}

dl dd {
  line-height: 1.5;
  margin-bottom: 12px;
}

hr {
  border: 1px solid #dddddd;
  margin-bottom: 1em;
}

a {
  font-style: italic;
}

a sup {
  font-style: normal;
  padding: 4px;
  font-size: small;
}

kbd {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding: 0 4px;
  border: 1px solid #cccccc;
  margin: 0 4px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/* 提示 */
.tips {
  margin: 0;
  padding: 8px;
  margin: 10px 0;
  background-color: #eee;
  border-radius: 4px;
  color: #333;
}

.tips p {
  padding: 0;
  margin: 0;
  text-indent: 0;
}

/* 扉页 */
.flyPage {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  height: 100vh !important;
}

.flyPage img {
  display: block;
  width: 100%;
}

.copyright {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4vw;
}

.copyright p {
  text-indent: 0;
}

.copyright .cip {
  padding: 0.2em 2em;
}

.copyright .press-info {
  padding: 0.2em 2em 0.2em 5em;
}

.title span.chapter {
  font-size: 50%;
  color: #999999;
}

.title span.subtitle {
  font-size: 80%;
}

.icon {
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin: 0.12em 0.4em 0.12em 0;
  border-radius: 50%;
  overflow: hidden;
}

.icon.safari-oreilly-com {
  width: 10%;
}

.icon ~ p {
  text-indent: 0;
}

.safari-icon {
  width: 120px;
  float: left;
  margin: 0 8px 8px 0;
}

.QRcode img {
  width: 25% !important;
}
/*# sourceMappingURL=Styles.css.map */